/*globales*/
*{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}
/*header*/
nav{
    height: 40px;
}
header{
    position: sticky;
    top:0;
}

li{
    list-style:none;
    display:inline-block;
    font-weight:bold;
}

a {
    text-decoration:none;color:wheat;
    margin-left: 110 px;
    font-size: 300%;
    padding:40px 20px;
    font-family: 'Roboto', sans-serif;
}
.nav-item{
    text-decoration:none;
    margin-left: 50 px;
    font-size: 135%;
    height: 100px;
    padding:20px 10px;
    font-family: 'Roboto', sans-serif; 
    height: 50%; 
}
.container-fluid{
    text-decoration:none;
    margin-left: 50 px;
    font-size: 250%;
    padding:5px 10px;
    font-family: 'Roboto', sans-serif;
    height: 50%;
}

p{
    text-decoration:none;
    color:rgb(169, 57, 152);
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
    padding:10px 10px;
}

.h1{
    text-decoration:none;
    color:rgb(169, 57, 152);
    -webkit-text-stroke-color:rgb(141, 6, 107);
    -webkit-text-stroke-width: 200%;
    font-size: 350%;
    font-family:'Roboto', sans-serif;
    text-align: center;
    margin: 10px;
    font-weight:bold;
}
h5{
    text-decoration:none;color:wheat;
    font-size: 300%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 50PX;
    font-weight:bold;
}
h2{
    text-decoration:none;color:whitesmoke;
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 30PX;
    font-weight:bold;
}
h3{
    text-decoration:none;color:whitesmoke;
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 50PX;
    font-weight:bold;
}
h6{
    text-decoration:none;
    color:orange;
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    margin: 5px;
    font-weight:bold;
    padding-top: 50px;
}
.auspiciante{
    text-decoration:none;
    color:orange;
    font-size: 200%;
    font-family:'Roboto', sans-serif;
    padding:30px;
    margin:-20px;
    font-weight:bold;
}

body{
    background-color:whitesmoke;
    align-content: center;
}
img{align-content: center;}
.presentacion{
    margin-top: 70px;
}
.presentacion2{
    margin-top: 20px;
    color:rgb(169, 57, 152);
}
.presentacion3{
    margin-top: 20px;
    color:goldenrod;
    font-weight:bold;
}
.Contactoform{
    text-decoration:none;color:whitesmoke;
    font-weight:bold;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 10PX;
    position: relative;
    bottom:110px;
}
.frentedelbar{
    background-image:url(../img/frente\ ubicacion!.jpg);
    background-repeat:no-repeat;
    background-position: top top;
}
.relative{
    position: relative;
    left:850px;
    bottom:-450px;
    width:35%;
    height:10%;
}
.imagencentrada{
    position: relative;
    left:135px;

}

.imagenderecha{
    position: relative;
    left:50px;
    width:39%;
}

.imagenizquierda{
    position: relative;
    right:-100px;
    width:50%;
    bottom:40%;
}

/*footer*/
.datos_bar{
    text-decoration:none;
    color:rgb(169, 57, 152);
    font-size: 95%;
    font-family: 'Roboto', sans-serif;
    margin-left:850px;
    text-align:left;
}